.scrollWrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  transition: all 0.3s ease;
}

.headerScroll {
  position: fixed;
  background-color: var(--primaryBgColor);
  top: 0;
  max-width: 1440px;
  width: 100%;
  z-index: 100;
}

.topHeader {
  padding: 48px 0 28px 0;
  transition: padding 0.8s ease;
}

@media (max-width: 640px) {
  .topHeader {
    padding: 28px 0;
  }
}

.searchIcon {
  cursor: pointer;
  margin-right: 5px;
}

.scrolled {
  padding: 15px 0;
}

.headerInput {
  position: relative;
}

.headerSearchPosition {
  width: 518px;
  max-height: 400px;
  overflow: auto;
  position: absolute;
  top: 30px;
  left: 20px;
  background: var(--secondaryWhiteColor);
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 100;
}

.headerSearchPosition::-webkit-scrollbar {
  width: 5px;
}

.headerSearchPosition::-webkit-scrollbar-thumb {
  background-color: var(--secondaryWhiteHover);
  border-radius: 10px;
}

.headerSearchPosition::-webkit-scrollbar-track {
  background-color: var(--secondaryWhiteColor);
}

.headerSearchPosition .x12_3 {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 16px;
  white-space: nowrap;
  cursor: url("../../assets/icon/cursor.svg");
}

.headerSearchPosition .x12_3:hover {
  background: #d9d9d9;
  border-radius: 5px;
}

.headerInput input {
  background-color: transparent;
  font-family: var(--font-mulish);
  width: 130px;
  font-size: 12px;
  border: none;
  color: var(--secondaryWhiteColor);
  font-weight: 700;
  line-height: 15.06px;
  letter-spacing: -0.03em;
  text-align: left;
}

.headerInput input::placeholder {
  background-color: transparent;
  font-family: var(--font-mulish);
  width: 60px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15.06px;
  letter-spacing: -0.03em;
  border: none;
  color: #404040;
}

.headerInput input:focus {
  outline: none;
}

.phoneNumber {
  color: var(--secondaryWhiteColor);
  font-family: var(--font-russo-one);
  font-size: 14px;
  letter-spacing: -0.03em;
}

.circleBtnWrapper {
  display: flex;
}

.hambugerImg {
  display: none;
  cursor: pointer;
}

/* footer-css */

.bigFooterLogo {
  height: clamp(75px, 8vw, 129px);
  width: auto;
}

.logo {
  cursor: pointer;
  width: 107px;
  height: auto;
}

.footerImg {
  background-image: url(../../assets/background/footerBackground.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.footerWrapper {
  padding: 0 138px;
}

.footerWrapper hr {
  color: var(--darkTextColor);
  margin: 35px 0 30px 0;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.smallFooterLogo {
  display: none;
}

.requestBtn1 {
  display: none;
}

.footerTopLeft {
  width: 43%;
}

.footerTopRight {
  width: 57%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.footerTopLink {
  margin-right: 32px;
  font-family: var(--font-russo-one);
  font-size: 12px;
  color: var(--secondaryWhiteColor);
  text-decoration: none;
  line-height: 14.46px;
  letter-spacing: -0.03em;
}

.footerMiddle {
  display: flex;
  align-items: flex-end;
  margin-top: 27px;
}

.footerMiddleLeft {
  width: 43%;
  padding-bottom: 10px;
}

.footerMiddleRight {
  width: 57%;
  display: flex;
}

.middleOne {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 59px;
}

.footerTopLeft1 {
  display: none;
}

.middleTitle {
  font-family: var(--font-mulish);
  font-weight: 700;
  font-size: 12px;
  color: var(--secondaryWhiteColor);
  text-decoration: none;
  line-height: 15.06px;
  letter-spacing: -0.03em;
}

.middleLink {
  font-family: var(--font-mulish);
  font-size: 14px;
  color: var(--primaryWhiteColor);
  text-decoration: none;
  line-height: 19.6px;
  letter-spacing: -0.01em;
}

.footerBottom {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footerBottomAddress {
  font-family: var(--font-mulish);
  font-weight: 500;
  font-size: 18px;
  color: var(--secondaryWhiteColor);
  line-height: 22.59px;
  letter-spacing: -0.01em;
}

.footerBottomLink {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: var(--font-mulish);
  font-weight: 700;
  font-size: 12px;
  text-align: right;
  color: var(--darkTextColor);
  line-height: 15.06px;
  letter-spacing: -0.03em;
  text-decoration: none;
  gap: 10px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .footerButtons {
    width: 100%;
  }

  .footerBottom {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .footerBottomContact {
    order: 1;
  }

  .footerBottomAddress {
    order: 0;
  }

  .footerBottomLink {
    order: 2;
    text-align: left;
    /* flex-flow: column-reverse; */
  }
}

.box1 {
  margin-right: 59px;
}

.box2 {
  margin-right: 87px;
}

.adminHeaderLink {
  margin-left: 30px;
}

@media (max-width: 576px) {
  .adminPageText {
    display: none;
  }
}


.adminHeaderLink a,
.adminHeaderLink span {
  font-family: var(--font-russo-one);
  color: var(--secondaryWhiteColor);
  font-size: 14px;
  line-height: 15px;
  text-decoration: none;
}

.adminHeaderLink a:hover,
.adminHeaderScrollLink a:hover {
  text-decoration: none;
}

.headerAvatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.adminHeaderScrollLink {
  display: flex;
  /* justify-content: space-between; */
  padding: 30px 0;
  gap: 33px;
}

.adminHeaderScrollLink span,
.adminHeaderScrollLink a {
  font-family: var(--font-russo-one);
  color: var(--secondaryWhiteColor);
  font-size: 12px;
  line-height: 13px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.adminHeaderHamburger {
  /* margin-top: 10px; */
  /* float: right; */
  /* bottom: 20px; */
  /* right: 20px; */
}

@media (max-width: 1206px) {
  .footerTop {
    flex-direction: column;
  }

  .footerTopLeft {
    width: 100%;
  }

  .footerMiddleLeft {
    width: 100%;
  }

  .footerMiddleRight {
    width: 100%;
  }

  .footerTopRight {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .adminHeaderScrollLink {
    display: none;
  }
}

@media (max-width: 850px) {
  .headerInput {
    display: none !important;
  }

  .phoneNumber {
    display: none;
  }

  .circleBtnWrapper {
    display: none;
  }

  .requestBtn {
    display: none;
  }

  .hambugerImg {
    display: block;
  }

  .box1 {
    margin-right: 34px;
  }

  .box2 {
    margin-right: 62px;
  }

  .requestBtn .adminHeaderLink,
  .requestBtn img,
  .adminHeaderSpan {
    display: none;
  }
}

@media (max-width: 950px) {
  .footerWrapper {
    padding: 0 80px;
  }
}

@media (max-width: 755px) {
  .footerWrapper {
    padding: 0 30px;
  }
}

@media (max-width: 640px) {
  .footerImg {
    background-image: url(../../assets/background/footerMobileBackground.png);
  }

  .bigFooterLogo {
    margin-bottom: 40px;
    width: 174px;
    height: 75px;
  }

  .smallFooterLogo {
    display: block;
    margin-bottom: 40px;
  }

  .requestBtn1 {
    display: block;
  }

  .footerTopLink {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .footerTopRight {
    flex-wrap: wrap;
  }

  .socialBtn {
    margin-top: 24px;
  }

  .footerMiddleLeft {
    display: none;
  }

  .footerMiddleRight {
    flex-direction: column;
  }

  .box2 {
    order: 1;
  }

  .middleTwo,
  .middleThree {
    margin-top: 40px;
    gap: 10px;
  }

  .footerTopLeft1 {
    display: block;
    margin: 20px 0 30px 0;
  }

  .footerContactWrap {
    display: none;
  }

  .box1 {
    margin-top: 20px;
  }

  .box2 {
    margin-top: 40px;
  }

  .box3 {
    margin-top: 48px;
  }
}

@media screen and (max-width: 500px) {
  .footerWrapper {
    padding: 0 10px;
  }
}
