.processItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  /* padding-top: clamp(40px, 10vw, 60px); */
}

.processItem .cardDescription {
  max-width: 350px;
}

.pdfText {
  font-family: var(--font-inter);
  font-size: 14px;
  color: #777777;
  letter-spacing: -0.03em;
  line-height: 19.6px;
  margin-left: 13px;
}

.ArrowLine {
  width: 85px;
  border-width: 2px;
}

.ArrowRect {
  width: 7px;
  height: 7px;
  background: black;
  rotate: 50deg;
}

/* Show horizontal arrows only on desktop */
.arrowShow {
  display: flex;
}

/* Hide horizontal arrows on mobile */
@media (max-width: 1140px) {
  .arrowShow {
    display: none !important;
  }
}

/* Ensure vertical arrows appear only in mobile view */
@media (max-width: 550px) {
  .verticalBorder {
    border-right: 2px solid black;
  }

  .verticalBorder::after {
    content: "";
    position: absolute;
    right: -2px;
    bottom: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: black;
    rotate: 45deg;
  }

  .processItem {
    flex: 1 1 auto;
    transition: flex-basis 0.5s ease;
    position: relative; /* Ensure absolute positioning works properly */
  }

  .processItem .cardDescription {
    width: 220px;
    letter-spacing: -0.03em;
  }

  .ArrowRect {
    margin-top: 10px; /* Adjust the top margin for better alignment */
  }

  /* Adjust arrow for each item */
  .processItem .arrowShow {
    display: none; /* Hide horizontal arrows on mobile */
  }
}

/* ExampleCase */
.caseLeftSection {
  width: 40.6%;
}

.caseLeftSection video {
  width: 472px;
  max-width: 100%;
  height: clamp(300px, 40vw, 455px);
  border-radius: 10px;
  object-fit: cover;
}

.caseRightSection {
  width: 56.7%;
  gap: 28px;
}

.caseRightSection video {
  width: 315px;
  max-width: 100%;
  height: 181px;
  border-radius: 10px;
  object-fit: cover;
}

.caseImgTitle {
  margin: 18px 0 8px 0;
  font-family: var(--font-mulish);
  font-weight: 700;
  font-size: 16px;
  line-height: 20.08px;
  letter-spacing: -0.01em;
  color: var(--secondaryWhiteColor);
}

.caseImgText {
  font-weight: 500;
  font-size: 12px;
  line-height: 15.06px;
  letter-spacing: -0.03em;
  color: var(--secondaryWhiteColor);
}

/* Ensure case sections take full width in smaller screens */
@media (max-width: 1430px) {
  .caseRightSection,
  .caseLeftSection {
    width: 100%;
  }
}

/* Ensure horizontal arrows only appear on large screens */
@media (min-width: 1141px) {
  .arrowShow {
    display: flex !important;
  }
}

/* Adjustments for medium-sized screens */
@media (max-width: 1140px) {
  .workProcessSquare {
    justify-content: space-around !important;
  }

  .caseImgTitle,
  .caseImgText {
    display: none;
  }
}

/* Adjustments for small screens */
@media (max-width: 636px) {
  .workProcessSquare {
    justify-content: space-between !important;
  }

  .downloadBtnWrap {
    align-items: flex-start !important;
    flex-direction: column;
  }

  .pdfText {
    margin: 20px 0 0 0;
  }
}

/* Ensure vertical arrows appear in mobile view */
@media (max-width: 550px) {
  .processItem {
    flex: 1 1 auto;
    transition: flex-basis 0.5s ease;
    position: relative;
  }

  .processItem .cardDescription {
    width: 221px;
    letter-spacing: -0.03em;
  }

  .ArrowRect {
    margin-top: 10px; /* Adjust the top margin for better alignment */
  }

  .processItem .arrowShow {
    display: none; /* Hide horizontal arrows on mobile */
  }
}
