.button {
  display: flex;
  align-items: center;
  border: none;
  gap: 10px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.defaultButton {
  /* height: 38px; */
  background-color: var(--secondaryWhiteColor);
  padding: 12px 20px 12px 20px;
  border-radius: 50px;

  text-transform: uppercase;
  font-family: var(--font-russo-one);
  color: var(--primaryBgColor);
  font-size: 12px;
  font-weight: 400;
  /* line-height: 38px; */
  letter-spacing: -0.03em;
}

.questionButton {
  background-color: var(--secondaryWhiteHover);
  height: clamp(27px, 2.5vw, 33px);
  padding: 10px clamp(5px, 0.5vw, 10px);
  white-space: nowrap;
  border-radius: 5px;
  font-size: clamp(10px, 1.5vw, 18px);
  line-height: clamp(12.55px, 2vw, 25.2px);
  letter-spacing: -0.03em;
}

.button:hover {
  background-color: var(--secondaryWhiteHover);
}

.blackButton {
  background-color: var(--primaryBgColor);
  color: var(--secondaryWhiteColor);
}

.blackButton:hover {
  color: var(--primaryBgColor);
}

.heroTopWhitebutton {
  background: var(--secondaryWhiteColor);
  height: 28px;
  padding: 10px;
  font-weight: 700;
  font-size: 12px;
  color: var(--primaryBgColor);
  line-height: 15.06px;
  letter-spacing: -0.03em;
  border-radius: 5px;
}

.fileUploadButton {
  display: flex;
  align-items: center;
  height: 38px;
  gap: 10px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  padding: 0px 20px;
  background-color: white;
  font-family: Mulish, sans-serif;
  color: black;
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 700;
  line-height: 20.08px;
  letter-spacing: -0.03em;
  text-transform: none;
  border: none;
}

.fileUploadButton:hover {
  background-color: var(--secondaryWhiteHover);
}

.tabButton {
  height: 40px;
  border-radius: 5px;
  padding: 10px 20px;

  font-family: var(--font-mulish);
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 700;
  line-height: 20.08px;
  letter-spacing: -0.03em;
}

.smallTabButton {
  height: 28px;
  background-color: var(--secondaryWhiteHover);
  padding: 10px;
  border-radius: 5px;

  font-family: var(--font-mulish);
  font-size: 12px;
  font-weight: 500;
  line-height: 15.06px;
  letter-spacing: -0.03em;
}

.smallTabButton:hover {
  background-color: var(--secondaryWhiteColor);
}

.circleButton {
  width: 43px;
  height: 43px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outLinedButton {
  background-color: transparent;
  border: 1px solid var(--primaryBgColor);
}

.transButton {
  background-color: rgba(246, 246, 246, 0.22);
  font-family: var(--font-mulish);
  color: var(--secondaryWhiteColor);
  font-weight: 700;
}

.bigTransButton {
  padding: clamp(6.2px, 1.5vw, 18px) clamp(14px, 5vw, 34px);
  border-radius: 10px;

  font-size: clamp(14px, 3vw, 35px);
  line-height: clamp(17.57px, 2vw, 44px);
  letter-spacing: -0.01em;
}

.bigTransButtonPadding {
  padding: clamp(6.2px, 1.5vw, 18px) clamp(5px, 4vw, 66.5px);
}

.smallTransButton {
  height: 28px;
  padding: 10px;
  border-radius: 5px;

  font-size: 12px;
  line-height: 15.06px;
  letter-spacing: -0.03em;
}

.transButton:hover {
  color: var(--primaryBgColor);
}

.rectButton {
  height: 20px;
  width: 99px;
  background-color: transparent;
  /* background-image: url('../../assets/icon/buttonRect.png'); */
  transform: skew(-20deg);
  border: 1px solid var(--secondaryWhiteColor);

  color: var(--secondaryWhiteColor);
  font-size: 14px;
  font-weight: 700;
  line-height: 17.57px;
  letter-spacing: -0.07em;
}

.heroTopbutton {
  background: var(--darkTextColor);
  height: 28px;
  padding: 10px;
  font-weight: 700;
  font-size: 12px;
  color: var(--secondaryWhiteColor);
  line-height: 15.06px;
  letter-spacing: -0.03em;
  border-radius: 5px;
}

.heroTopbutton:hover {
  color: var(--primaryBgColor);
}

.siteTopActive {
  background-color: #cfcfcf;
  color: black;
}

.smallHeroButton {
  background-color: var(--secondaryWhiteHover);
  font-weight: 500;
  color: var(--primaryBgColor);
}

.smallHeroButton:hover {
  background-color: var(--secondaryWhiteColor);
}

.linkButton {
  text-decoration: underline;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.06px;
  letter-spacing: -0.03em;
}

.downloadBtn {
  border-radius: 5px;
  padding: 8px clamp(10px, 1.5vw, 20px);

  font-size: clamp(12px, 1.2vw, 16px);
  line-height: clamp(15.06px, 2vw, 20.08px);
  font-weight: 700;
  letter-spacing: -0.03em;
}

.downloadBtn:hover {
  background-color: var(--darkTextColor);
  color: var(--secondaryWhiteColor);
}

.heroDarkButton {
  padding: 13px 20px;
  border-radius: 50px;
  background: transparent;
  border: 1px solid var(--secondaryWhiteColor);
  font-family: var(--font-russo-one);
  font-size: 12px;
  line-height: 14.46px;
  letter-spacing: -0.03em;
  color: var(--secondaryWhiteColor);
  cursor: pointer;
}

.eventTags {
  height: 33px;
  color: #f6f6f6;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  padding: 10px;
}

.caseButton {
  background: var(--darkTextColor);
  padding: 10px;
  height: 30px;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: -0.01em;
  color: var(--secondaryWhiteColor);
  border-radius: 5px;
}

.caseButton:hover {
  background: var(--badgeColor);
}

.banquetBtn {
  background: var(--badgeBgColor);
  padding: 6px 10px;
  height: 20px;
  font-size: 12px;
  line-height: 15.06px;
  letter-spacing: -0.03em;
  color: var(--badgeColor);
  border-radius: 20px;
}

.captchaButton {
  height: 50px;
  background: #cfd5d8;
  letter-spacing: -0.03em;
  color: white;
  border-radius: 50px;
}

.bestCaseTagButton {
  height: 26px;
  background-color: #ffffff;
  padding: 8px;
  margin: 0 5px;
  border-radius: 14px;

  font-size: 14px;
  font-weight: 500;
  line-height: 17.57px;
  letter-spacing: -0.01em;
  color: var(--primaryBgColor);
}

.newCaseTypeButton {
  height: 26px;
  background-color: rgba(239, 239, 239, 1);
  padding: 8px;
  margin: 0 5px;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 500;
  line-height: 17.57px;
  letter-spacing: -0.01em;
  color: var(--primaryBgColor);
}

.newCaseSave {
  width: 170px;
  height: 38px;
  border-radius: 50px;
  padding: 15px 20px;
  opacity: 50%;
  background: rgba(23, 23, 23, 1);
  color: white;
  margin-top: 40px;
}

.selBestCase {
  background-color: var(--primaryBgColor);
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  .bigTransButton {
    border-radius: 3px;
  }
}

@media (max-width: 450px) {
  .smallHeroButton {
    padding: 10px 5px;
    font-size: 10px;
  }
}

@media (max-width: 850px) {
  .rectButton {
    display: none;
  }
}
