.adminLoginSection {
  max-width: 526px;
  width: 100%;
  display: grid;
  gap: 30px;
  color: var(--secondaryWhiteColor);
}

.adminLoginHeader {
  display: flex;
  align-items: center;
  gap: 37px;
  padding: 24px 0;
  border-bottom: 1px solid #404040;
}

.adminLoginTitle {
  font-family: var(--font-russo-one);
  font-size: 32px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.02em;
}

.adminDataSection {
  display: flex;
  background-color: var(--secondaryWhiteColor);
  padding:24px;
  margin: 20px;
  border-radius: 10px;
  color: #151515;
  gap: 22px;
  /* width: 90%; */
}

.adminDataTitle {
  width: 30%;
  color: var(--primaryBgColor) !important;
}

.adminInfoBox {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--badgeBgColor);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.adminInfoLeft {
  width: 315px;
}

.adminInfoRight {
  width: 460px;
}

.adminCaptionTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.08px;
  letter-spacing: -0.01em;
}

.calleryContent {
  background: transparent;
  width: 100%;
  resize: none;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  color: white;
}

.adminDirectorySection {
  background-color: var(--secondaryWhiteColor);
  padding: 20px;
  margin: 20px;
  margin-bottom: 80px;
  border-radius: 10px;
  color: #151515;
  /* width: 90%; */
}

.adminDirectoryTitle {
  font-family: var(--font-russo-one);
  font-size: 48px;
  font-weight: 400;
  line-height: 57.84px;
  letter-spacing: -0.03em;
}

.sectionTitleRight {
  display: flex;
  justify-content: space-between;
  width: 65%;
  gap: 15px;
}

@media (max-width: 1030px) {
  .adminDataSection {
    flex-direction: column;
  }

  .adminDataTitle,
  .sectionTitleRight {
    width: 100%;
  }

  .sectionTitleRight {
    justify-content: space-between;
  }
}

@media (max-width: 815px) {
  .createUserInput {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .adminDataTitle {
    text-align: center;
  }
  .sectionTitleRight {
    flex-direction: column;
  }
  .adminInfoBox {
    margin: auto;
  }

  .adminDirectoryTitle {
    font-size: 35px;
    line-height: 30px;
  }

  .addUserHead {
    flex-direction: column;
  }
  .adminDirectoryTitle {
    margin-bottom: 20px;
  }
}

@media (max-width: 590px) {
  .adminInfoLeft,
  .adminInfoRight {
    width: 100%;
  }
}
